<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LottoMate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096966572C4FE27600BCE28B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0969666D2C4FE27800BCE28B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096966772C4FE27800BCE28B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
